body {
	background-color: black;
}
.App {
	margin: 1em;

	color: aliceblue;
}
.BandList {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-auto-rows: 1fr;
	max-width: 1200px;
	margin: auto;
	padding: 2em;
}

/* Smaller screens and tablets */
@media only screen and (max-width: 960px) {
	.BandList {
		grid-template-columns: 1fr 1fr;
	}
}
/* Small screens mobile */
@media only screen and (max-width: 700px) {
	.BandList {
		grid-template-columns: 1fr;
	}
}
input {
	margin-left: 10px;
}

header {
	margin-left: 30px;
}
